<!DOCTYPE html>
<html>
<head>
    <title>{{subject}}</title>
</head>
<body>
    <div>
        <h1>{{greeting}}</h1>
        <p>{{message}}</p>
        <p>Here's some dynamic content: {{dynamicContent}}</p>
        <p>Thank you for using our service.</p>
    </div>
</body>
</html>
